@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* BODY START */
:root {
  --green: #27ae60;
  --dark-color: #219150;
  --black: #444;
  --light-color: #666;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  transition: width none;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 77.5%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  /* background: transparent; */
  background: var(--black);
}

html::-webkit-scrollbar-thumb {
  /* background: var(--black); */
  background: rgb(0, 0, 0);
}

.navbar li a {
  list-style: none;
  text-decoration: none;
}

.content a {
  list-style: none;
  text-decoration: none;
}

section {
  padding: 5rem 9%;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 1000% 1000%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  /* background-image: url("../images/library.jpg"); */
  /* background-repeat: no-repeat; */
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* BODY ENDS */


/*  HEADER START */

/* ---------------------------------------------------------- Navigation Bar Heading Section -------------------------------------------------------- */
.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .heading::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 0.01rem;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
  }
  
  .heading span {
    font-size: 3rem;
    padding: 0.5rem 2rem;
    color: #fff4f4;
    background: #9e8f8f;
    border: var(--border);
  }
  
  .btn {
    /* display: flex; */
    padding: 9px 25px;
    /* margin-left: 200px; */
    background-color: rgb(120, 153, 161);
    font-size: 2rem;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .btn:hover {
    background-color: blue;
    color: aquamarine;
  }
  
  .header .header-1 {
    background-color: rgba(0, 0, 0, 0.637);
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header .header-1 .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    /* color:var(--black); */
    color: #9bd8c5;
  }
  
  .header .header-1 .logo i {
    /* color:var(--green); */
    color: white;
  }
  
  .header .header-1 .search-form {
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
  }
  
  .header .header-1 .search-form input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
  }
  
  .header .header-1 .search-form label {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
  }
  
  .header .header-1 .search-form label:hover {
    /* color:var(--green); */
    color: lightgrey;
  }
  
  .header .header-1 .icons div,
  .header .header-1 .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    /* color:var(--black); */
    color: rgb(250, 221, 221);
    cursor: pointer;
  }
  
  .header .header-1 .icons div:hover,
  .header .header-1 .icons a:hover {
    /* color:var(--green); */
    color: red;
  }
  
  #search-btn {
    display: none;
  }
  
  .header .header-2 {
    /* background:var(--green); */
    background: #000000d1;
  }
  
  .header .header-2 .navbar {
    text-align: center;
  }
  
  .header .header-2 .navbar a {
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
  }
  
  .header .header-2 .navbar a:hover {
    /* background:var(--dark-color); */
    background: lightslategray;
  }
  .header-2 a:hover {
    color: lightyellow;
  }
  
  .header .header-2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .bottom-navbar {
    text-align: center;
    /* background:var(--green); */
    background-color: rgba(0, 0, 0, 0.637);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
  }
  
  .bottom-navbar a {
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
  }
  
  .bottom-navbar a:hover {
    background: var(--dark-color);
  }
/* ----------------------------------------------------------LOGIN IN NAVBAR------------------------------------------------------- */ 
  .login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
  }
  
  .login-form-container.active {
    right: 0;
  }
  
  .login-form-container form {
    background: #ffa2a2ba;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    margin: 2rem;
  }
  
  .login-form-container form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
  }
  
  .login-form-container form span {
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
  }
  
  .login-form-container form .box {
    width: 100%;
    margin: 0.7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
  }
  
  .login-form-container form .checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;
  }
  
  .login-form-container form .checkbox label {
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
  }
  
  .login-form-container form .btn {
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
  }
  
  .login-form-container form p {
    padding-top: 0.8rem;
    color: var(--light-color);
    font-size: 1.5rem;
  }
  
  .login-form-container form p a {
    /* color:var(--green); */
    color: #3a6cd4;
    text-decoration: underline;
  }
  
  .login-form-container #close-login-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
  }


  /* title  */

  .headList{
    margin-top: -65px;
  }
  .headList h1{
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    color: #fff4f4;
    background: #9e8f8f;
    border: var(--border);
  }
  /* title */

  /* sort by */

  .container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #fafafa;
}

.brdm {
    position: relative;
    top: 50px;
    left: 45%;
    margin-top: 15px;
    width: 300px;
    height: 50px;
}

.brdm::before {
  content: "";
    position: absolute;
    top: -43px;
    right: -417px;
    z-index: 999;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.brdm.active::before {
    top: 22px;
    transform: rotate(-225deg);
}

.brdm input {
  position: absolute;
  top: -54px;
  left: 500px;
  width: 78%;
  height: 68%;
  cursor: pointer;
  background: #ffffff91;
  font-size: 2.2em;
  border: none;
  outline: none;
  box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
  padding: 12px 20px;
  border-radius: 10px;
}

.brdm .options {
  position: absolute;
  top: 40px;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
  border-radius: 10px;
  overflow: hidden;
  left: 500px;
  display: none;
}

.brdm.active .options {
    display: block;
}

.brdm .options div {
    padding: 12px 20px;
    cursor: pointer;
}

.brdm .options div:hover {
    background: #62baea;
    color: #fff;
}
  /* sort by */

  .arrivals{
    background-color: rgb(0 0 0 / 75%);
   
  }
  
  .arrivals .arrivals-slider .box{
    display: flex;
    align-items:center;
    gap:1.5rem;
    padding:2rem 1rem;
    border:var(--border);
    margin:1rem 0;
  }
  
  .arrivals .arrivals-slider .box:hover{
    border:var(--border-hover);
  }
  
  .arrivals .arrivals-slider .box .image img{
    height:15rem;
  }
  
  .arrivals .arrivals-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);
  }
  
  .arrivals .arrivals-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
  }
  
  .arrivals .arrivals-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
  }
  
  .arrivals .arrivals-slider .box .content .stars i{
    font-size: 1.5rem;
    color:var(--green);
  }
  