<!-- {% load static %} -->
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script type="text/javascript" src="/static/js/detail.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/detail.css">
</head>	
<body >
	 <div class="back_img" id="x"></div>
	<div id="mask" style="background-color : rgb(0,0,0,0.5);
	                      position: absolute;
	                      top:0px;height: 70vh;">
			<table class="table table-borderless" style="border: 0px;margin-top: 0px;">
				<tbody>
					<tr>
					<td valign="middle"><img id="ss" class="prev" src="/MEDIA/{{image_url}}"></td>
		    		<td valign="middle">
		    			<p class="book_title">Title : {{title}}</p>
						<p class="book_author">Author : author of the book</p>
						<p class="book_desc"> <b>Category :</b> {{cate}}</p>
						<p class="book_desc"> <b>About Story : </b><br>{{desc}}
						</p>
					</td>
			      	</tr>
				</tbody>
			</table>
	</div>
	<br>
	<center>
		<div class="d-grid gap-2">
			<div style="margin: 50px;"></div>
	  		<button class="btn btn-primary" onclick = "window.open('/MEDIA/{{book_url}}');" type="button">Read this book</button>
	  		{% if in_fav == 1 %}
	  			<button class="btn btn-primary" onclick = "add_book('{{id}}')" type="button">Add to favourite</button>
	  		{% else %}	
	  			<button class="btn btn-primary" onclick = "remove_book('{{id}}')" style = "background: red;" type="button">Remove to favourite</button>
	  		{% endif %}

			<button class="btn btn-primary" id="start_listening" onclick = "Listen_book('{{id}}','/MEDIA/{{book_url}}')" type="button">Listen this book</button>
			<button id="stop_listening" onclick="stop_listening_book()" class="btn btn-primary" style="
				background-color:red;
				display: none;
			" type="button">Stop Listening</button>
		</div>
	</center>
</body>
</html>