body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  /* background-image: url("../images/library.jpg"); */
/* background-repeat: no-repeat; */
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.bg-light {
  background-color: #efe946!important;
}
.d-inline-block {
  display: inline-block!important;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125
rem
;
  padding-bottom: 0.3125
rem
;
  margin-right: 1
rem
;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
/* .navbar-expand-lg .navbar-toggler {
  display: none;
} */
.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.1);
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5
em
;
  height: 1.5
em
;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}


ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #43D1AF; */
}

li {
  float: inline-end;
}

li a{

  display: inline-block;
  color: black;
font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #6CC417;
}

.form-style-6{
  border-radius: 2%;
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 50px auto;
  padding: 16px;
  background: #f7f7f7b2;
}
.form-style-6 h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #91b2c680;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: rgb(216, 81, 81);
  margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="email"],
.form-style-6 input[type="file"],
.form-style-6 textarea,
.form-style-6 select 
{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="file"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
  box-shadow: 0 0 5px #43D1AF;
  padding: 3%;
  border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"]{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #00eeff;
  border-bottom: 4px solid #f3c6303d;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;   
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
/* font-size: 0%; */
  color: rgba(207, 100, 38, 0.932);
}
/* .form-style-6 input[type="submit"]:hover
  background: #2EBC99; */
/* }  */
